.dumi-default-doc-layout, .dumi-default-header {
    background-color: #fff!important;
}
.dumi-default-header-content {
    max-width: 90vw;
}

.dumi-default-header-right {
    justify-content: flex-end;
}
.dumi-default-navbar {
    margin-right: 16px;
}

.dumi-default-navbar > li > a.active {
    color: #1677ff;
}

.dumi-default-hero > p {
    margin: 8px 32px;
}
iframe {
    width: 100%;
    height: 600px;
}